/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --record-appearance: none;
  --menu-color: #353430;
  --menu-color-hovered: rgba(50, 49, 45, 0.40);
  --cover-title-color: #FFC2E6;
  --cover-title-shadow-color: #FF0070;
  --accent-color: #353430;
  --section-title-color: #353430;
  --accent-bg-color: #FF8DCB;
  --article-text-color: #020202;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}