/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header__decorations {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
}

.header__theme-menu {
  display: grid;
  margin-inline-start: calc(31.5rem - 130px); /* слишком жестко */
}

.header__theme-menu-list{
  display: grid;
  width: 230px;
  height: 100%;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.header__theme-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(44px + 26px + 2px);
  height: 25px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 0;
  text-transform: lowercase;
  color: var(--menu-color,#FF0070);
  text-align: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 100%;
  cursor: pointer;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-item:has(.header__theme-menu-button:focus) {
  outline: none;
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-item:has(.header__theme-menu-button:focus-visible) {
  outline: none;
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-item:has(.header__theme-menu-button:hover) {
  border: 1px solid var(--menu-color-hovered);
}

.header__theme-menu-item:has(.header__theme-menu-button:active) {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button:default {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-item:has(.header__theme-menu-button:disabled) {
  border: 1px solid var(--menu-color);
}

.border-top-right{
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color,#FF0070);
  border-inline-end: 1px solid var(--accent-color,#FF0070);
}

.record {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: min-content;
  align-items: center;
  transform: translateX(calc(-15px - var(--main-padding)));
}

.record__text {
  color: var(--menu-color, #FF0070);
  text-align: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.record__ellipse {
  display: block;
  width: 9px;
  height: 9px;
  filter: drop-shadow(0px 0px 4px #FF0070);
  border: 1px solid var(--accent-color,#FF0070);
  border-radius: 50%;
  background-color: var(--accent-color,#FF0070);
}

.header__title {
  color: var(--cover-title-color,#DB00FF);
  text-shadow: 4px 4px 0px #FF0070;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 157px;
  font-weight: bold;
  line-height: 82.5%;
  margin-inline-start: calc(0px - var(--main-padding));
  margin-block-start: 27vw;
}

.header__description {
  display: block;
  background-color: var(--accent-bg-color);
  margin-block-start: 11vw;
  margin-inline-start: 64vh;
  margin-block-end: 9vw;
}

.border-bootom-left {
  width: 25px;
  height: 25px;;
  border-block-end: 1px solid var(--accent-color,#FF0070);
  border-inline-start: 1px solid var(--accent-color,#FF0070);
}

.section {
  padding-inline: var(--main-padding);
  display: grid;
  gap: 20px;
  padding-block-start: 60px;
  padding-block-end: 20px;
  background-color: var(--bg-color);
}

.horizontal-section {
  grid-template-columns: 32% auto;
}

.vertical-section__title {
  width: 32%
}

.section__title {
  color: var(--section-title-color, #FF0070);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
}

.section__article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.horizontal-article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.article__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__list-title {
  color: #000028;
  font-family: 'IBM Plex Mono',sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 130%;
  background-color: var(--accent-bg-color);
}

.article__title {
  color: #000028;
  font-family: 'IBM Plex Mono',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
  background-color: var(--accent-bg-color);
}

.article__text {
  color:  var(--article-text-color,#F1B2CE);
  font-family: 'IBM Plex Mono',sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 130%; 
}

/*.section__picture-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  "sunset-picture sunset-picture ice-cream-picture"
  "tape-picture books-picture ice-cream-picture"
  "tape-picture street-picture street-picture";
  gap: 20px;
} 

.article__picture {
  margin: 0;
}

.article__picture-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset-picture {
  grid-area: sunset-picture;
}

.street-picture {
  grid-area: street-picture;
}

.ice-cream-picture {
  grid-area: ice-cream-picture;
}

.tape-picture {
  grid-area: tape-picture;
}

.books-picture {
  grid-area: books-picture;
}*/

.section__picture-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 1.5%;
} 

.article__picture {
  margin: 0;
}

.article__picture-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset-picture {
  grid-column: span 2;
}

.street-picture {
  grid-column: span 2;
}

.ice-cream-picture {
  grid-row: span 2;
}

.tape-picture {
  grid-row: span 2;
}


.footer {
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
  align-items: center;
  background-color: var(--bg-color);
  padding-block-start: 60px;
  padding-block-end: 20px;
}

.footer__title {
  color: var(--cover-title-color);
  text-shadow: 2px 2px 0px var(--cover-title-shadow-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 157px;
  font-weight: bold;
  line-height: 82.5%;
  margin-block: 35vh;
}

.footer__decoration-top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.footer__decoration-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}