/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --record-appearance: flex;
  --menu-color: #FF0070;
  --menu-color-hovered: rgb(255, 0, 112, 0.4);
  --cover-title-color: #DB00FF;
  --cover-title-shadow-color: #FF0070;
  --accent-color: #FF0070;
  --accent-bg-color: #FF0070;
  --section-title-color: #FF0070;
  --article-text-color: #F1B2CE;
  --main-padding: 20px;
}